	<h4 class="results-label">Current</h4>
	<div class="scrollmenu">
	<ul>
		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/standards">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/mrl.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				standards.usa.gov 
			</div>
		</li>
		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/template">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/t2.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				Template for each industry
			</div>
		</li>
	</ul>
	</div>