	<h4 class="results-label">Highlights</h4>
	<div class="scrollmenu">
	<ul>
		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/ita-websites-launched">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/export.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				International Trade Administration websites
			</div>
		</li>

		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/search-apps">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/mrl.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				search apps
			</div>
		</li>
		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/ita-developer-portal">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/t2.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				Trade.gov Developer Portal
			</div>
		</li>
		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/js">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/ipr.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				Stopfakes.gov IPR Training
			</div>
		</li>
		<li class="each-post-highlight">
			<a href="{{ site.baseurl }}/results/trade-concept">
				<section class="home-item-highlight" style="background-image: url('{{ site.baseurl }}/assets/stuff/ccg.png'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;"></section></a>
			<div class="title">
				early concepts...
			</div>
		</li>



	</ul>
	</div>