.home-item {
border: 1px solid #ccc!important;padding: 5.5em 10px;border-radius: 4px!important;
}

.each-post {
	font-size:13px;width:150px;display: inline-block;
}

.home-hr {
border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);margin-left:20px;margin-right:20px;
}

.results-label {
font-size:18px;margin: 30px 0 -5px;text-indent:20px;
}

@media only screen and (max-width : 480px) {
.each-post {
	font-size:13px;width:170px;display: inline-block;
}
.home-item {
border: 1px solid #ccc!important;padding: 6em 10px;border-radius: 4px!important;
}

.home-hr {
margin-left:5px;margin-right:5px;
}
.results-label {
text-indent:5px;
}
.each-post {
margin-left:5px;
margin-right:5px;
}
}